/* responsive mobile  max-width:600px*/
@media screen and (max-width:576px) {
    header {
        height: 1390px
    }

    .nav>ul,
    .banner,
    .img-container,
    .run-container,
    .BMI,
    .top,
    .bottom,
    .footer-container,
    .card-container {
        flex-direction: column;
    }

    .nav-section {
        flex-direction: row;
        margin: 0px;
        margin-left: 70px;
    }

    nav>ul {
        display: none;
    }

    .hamburger-menu {
        display: block;
        color: white;
        width: 50px;
        margin-left: 160px;
        font-size: 1.5em;
    }

    .btn-primary {
        padding: 20px 20px;
    }

    .banner {
        gap: 30px;
    }

    .img-container {
        gap: 40px;
    }

    .habit {
        height: 1800px;
        padding: 40px 60px;
    }

    .habit-title {
        font-size: 30px;
    }

    .run {
        height: 1000px;
    }

    .habit-content,
    .run-content {
        padding: 0px;
    }

    .run-container {
        gap: 20px;
    }

    #run-btn {
        width: 100%;
    }

    .run-content {
        padding: 10px;
    }

    .bmi-container {
        height: 900px;
        padding: 50px 0px;
    }

    .chart-title {
        margin-bottom: 50px;
        font-size: 26px;
    }

    .bmi {
        margin: 80px 30px;
    }

    .BMI {
        gap: 70px;
    }

    .full-input input {
        width: 250px;
    }

    .meet {
        height: 2100px;
    }

    .img-container-meet {
        grid-template-columns: repeat(1, 1fr);
        margin: 15px;
    }

    .meet-content {
        padding: 0px 25px;
    }

    footer {
        height: 800px;
    }

    .footer-content {
        padding: 0px;
    }

    .footer-container {
        gap: 30px;
    }

    .footer-section-inner {
        padding-left: 0px;
    }

    .card-container {
        padding: 0px 15px;
    }

    .card {
        height: 300px;
    }
}