@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
}

/* header section */

header {
    max-width: 1536px;
    height: 715px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 1) 100%);
    padding: 60px 0px;
}

/* nav section styles */

.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 190px;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    margin-left: 50px;
    color: rgb(255, 255, 255);
    font-size: 19px;
    font-weight: 400;
}

.fitness {
    color: rgb(230, 83, 60);
    font-size: 38px;
    font-weight: 800;
    font-style: italic;
}

/* banner section */

.banner {
    /* border: 2px solid red; */
    display: flex;
    margin-top: 50px;
    gap: 168px;
    justify-content: center;
    align-items: center;
    padding: 0px 190px;
}

.banner-title {
    color: rgb(255, 255, 255);
    font-size: 80px;
    font-weight: 900;
    text-align: left;
}

.banner-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin: 28px 0px;
}

.btn-primary {
    padding: 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-weight: 600;
    border: none;
}

#download-btn {
    background: none;
    border: 1px solid rgb(255, 255, 255);
}

.btn-container {
    display: flex;
    gap: 20px;
}

.banner img {
    vertical-align: middle;
}

/* habit section */

.habit {
    /* border: 2px solid red; */
    max-width: 1536px;
    height: 550px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 1) 100%);
    padding: 60px 150px;
}

.habit-content {
    margin: 50px;
}

.habit-top {
    padding: 0px 280px;
}

.habit-title {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 10px;
}

.habit-des {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 8px;
}

.img-title {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.habit img {
    border-radius: 50%;
    margin-left: 50px;
    margin-bottom: 20px;
}

.img-container {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    margin-top: 54px;
}

.img-container p {
    text-align: center;
}

/* run section */

.run {
    /* border: 2px solid red; */
    max-width: 1536px;
    height: 450px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 1) 100%);
    padding: 60px 170px;
    margin: 0px auto;
}

.run-container {
    /* border: 2px solid red; */
    display: flex;
    gap: 165px;
    padding: 43px 35px 30px 55px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}

.run img {
    width: 30%px;
    height: 250px;
    border-radius: 20px;
}

#run-title {
    text-align: left;
}

#run-des {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 36px;
}