@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* universal style */
* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

/* header section */
header {
    /* border: 2px solid red; */
    max-width: 1536px;
    margin: 0 auto;
    height: 715px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 1) 100%);
    padding-top: 60px;
}

/* nav section styles */
.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 190px;
}

nav>ul {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    margin: 0 auto;
    align-items: center;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    margin-left: 50px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 400;
}

.hamburger-menu {
    display: none;
}

.about {
    margin-right: 50px;
}

.btn-home {
    padding: 8px 40px 8px 0px;
    background: rgb(230, 83, 60);
    border-radius: 40px;
    text-align: center;
}

.fitness {
    color: rgb(230, 83, 60);
    font-size: 38px;
    font-weight: 800;
    font-style: italic;
}

.shape {
    font-style: italic;
    font-weight: 500;
}

/* banner section */
.banner {
    /* border: 2px solid red; */
    display: flex;
    margin-top: 50px;
    gap: 168px;
    justify-content: center;
    align-items: center;
    padding: 0px 190px;
}

.banner-title {
    color: rgb(255, 255, 255);
    font-size: 80px;
    font-weight: 900;
    text-align: left;
}

.banner-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin: 28px 0px;
}

.btn-primary {
    padding: 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-weight: 600;
    border: none;
}

#download-btn {
    background: none;
    border: 1px solid rgb(255, 255, 255);
}

.btn-container {
    display: flex;
    gap: 20px;
}

.banner img {
    vertical-align: middle;
}

/* header section end */
/* habit section */
.habit {
    /* border: 2px solid red; */
    max-width: 1536px;
    margin: 0 auto;
    height: 600px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 1) 100%);
    padding-top: 60px;
}

.habit-content {
    /* border: 2px solid red; */
    gap: 168px;
    justify-content: center;
    align-items: center;
    padding: 0px 190px;
}

.habit-title {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 15px;
}

.habit-des {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 8px;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.img-title {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.habit img {
    border-radius: 50%;
    margin-left: 50px;
    margin-bottom: 20px;
}

.img-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-top: 54px;
}

.img-container p {
    text-align: center;
}

/* run section */

.run {
    max-width: 1536px;
    margin: 0 auto;
    height: 620px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 1) 100%);
}

.run-content {
    padding: 0px 190px;
}

.run-container {
    display: flex;
    align-items: center;
    gap: 165px;
    padding: 43px 35px 30px 55px;
    border-radius: 18px;
    background: rgb(32, 32, 32);

}

.run img {
    width: 100%;
    height: 250px;
    border-radius: 20px;
}

#run-title {
    text-align: left;
}

.ans {
    margin-bottom: 60px;
}

#run-des {
    text-align: left;
    margin: 20px 0px;
    line-height: 24px;
    letter-spacing: 0.3px;
}


.bmi {
    margin-top: 80px;
    margin-left: 320px;
}


/* BMI Calculator */

.bmi-container {
    /* border: 2px solid red; */
    max-width: 1536px;
    margin: 0 auto;
    height: 600px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 1) 100%);
}

.BMI {
    /* border: 2px solid red; */
    max-width: 1536px;
    margin: 0 auto;
    align-items: center;
    height: 400px;
    padding: 0px 180px;
    display: flex;
    gap: 250px;
}

.table-container {
    border-radius: 8px;
}

table {
    border-collapse: collapse;
    text-align: left;
}

th,
td {
    padding: 10px 30px;
    border: 1px solid #555;
    color: white;
}

th {
    background-color: #333;
    font-size: 13px;
}

tbody tr:nth-child(even) {
    background-color: #252525;
}

.chart-title {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    text-align: left;
    margin-bottom: 74px;
}

.bmi-calculation {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

.bmi-title {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    text-align: left;
    margin-bottom: 14px;
}

.calculation input {
    border-radius: 4px;
    height: 50px;
    width: 250px;
    background: rgba(255, 255, 255, 0.1);
    border: 0px;
    padding-left: 20px;

}

.top {
    margin-top: 35px;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}

.bottom {
    display: flex;
    gap: 20px;
}

.full-input input {
    width: 540px;
    margin-top: 20px;
}


/* meet team section */

.meet {
    border: 2px solid red;
    max-width: 1536px;
    margin: 0 auto;
    height: 1000px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 1) 100%);
    padding-top: 60px;
}

.img-container-meet img {
    width: 350px;
    height: 274px;
}
.meet-contact{
    margin-bottom: 50px;
}
.img-container-meet {
    border: 5px solid slateblue;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding: 0px 190px;
}

.img-container-2 {
    gap: 5px;
    padding: 10px;
    margin-left: 80px;
}

.none {
    display: none;
}